{% set exampleComponent = "test-component" %}
{% set examples =  [
  {
    "name": "default",
    "data": {
      "text": "This is a test component"
    }
  },
  {
    "name": "with html",
    "data": {
      "html": "This is a <strong class=\" font-bold \">test component</strong>"
    }
  }
] %}